* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /*16pc * 62.5 = 10px = 1rem*/
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-family: Helvetica;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
