.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-top: 1rem; */
}

.header-image {
    height: 70rem;
    width: 80%;
    background-image: url('https://images91.fotosik.pl/463/5db385064b6a2d11.jpg');
    background-position: center;
    border-image-repeat: no-repeat;
}

@media (min-width: 1440px) {
    .header-image {
        background-image: url('https://images91.fotosik.pl/463/5db385064b6a2d11.jpg');
    }
}


